/* Google Fonts CDN link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Reseting the global styles */
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

/* Custom Scrollbar properties */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgba(0, 128, 0, 0.5), rgba(0, 87, 180, 0.6));
  border-radius: 10px;
}